@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url("/assets/imgs/background/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: rgba(55, 96, 156, 0.8);
  overflow-x: hidden;
  min-height: 100vh;
}

.main-container {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  min-height: 100vh;
}

.main-label {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}
